<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Config_Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Config_Maker.Properties.Settings>
            <setting name="windChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hotChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="coldChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aiChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minDegree" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="maxDegree" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="fanSpeed" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="outputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="degreeType" serializeAs="String">
                <value>C</value>
            </setting>
        </Config_Maker.Properties.Settings>
    </userSettings>
</configuration>